/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open{
    transform: scale(1);
    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close{
    transform: scale(0);
    /* transform: translateY(-150%); */
}


/* Custom Flag Start */
.customCountry .innerCountry::before {
    /* background-image: 'images'; */
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
}
/* Custom Flag End */